:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
}
p {
  font-size: 1.5rem;
  color: white;
}
h1 {
  font-size: 4rem;
  color: white;
}
.app {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}
.app::before {
  content: " ";
  position: absolute;
  background-color: rgba(31, 140, 190, 0.7);
  height: 100%;
  width: 100%;
  z-index: -1;
}
.search {
  padding: 1rem;
  text-align: center;
}
.search input[type="text"] {
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 0.8rem;
  border-radius: 1.5rem;
  padding-left: 1rem;
  background-color: rgba(255, 255, 255, 0);
  font-size: 1rem;
  color: white;
}

.search input[type="text"]:focus {
  border-color: gold;
  transition: 0.5s ease-in-out;
}

::placeholder {
  color: white;
}

img {
  height: 100px;
  width: 100px;
  position: relative;
  right: -90%;
}

.temp_d {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

.temp_d img {
  position: relative;
  right: 2rem;
}

.container {
  position: relative;
  max-width: 700px;
  height: 500px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.app .top {
  width: 100%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
}

.bold {
  font-weight: 400;
  font-size: 1.5rem;
  color: white;
}

.button {
  width: 100%;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 1rem auto;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.temp_d img {
  animation: right_left 2s ease-in-out alternate forwards;
}
.dark-mode {
  background-color: #333;
  color: #fff;
}
.dark-mode .search input[type="text"] {
  border-color: #fff;
  color: #fff;
}

/* .dark-mode .temp_d img {
  filter: brightness(0) invert(1);
} */

@keyframes right_left {
  from {
    transform: translateX(-3rem);
  }
  to {
    transform: translateX(0);
  }
}
.error {
  text-align: center;
  font-size: 1rem;
  color: rgba(251, 255, 245, 0.6);
}
.btn {
  padding: 0.4rem;
  width: 4rem;
  border-radius: 0.6rem;
  border: none;
  font-size: 0.9rem;
  font-weight: 200;
  position: absolute;
  right: 20%;
  top: 15%;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.btn:hover {
  transform: scale(1.2);
}
.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1rem;
  color: rgb(255, 247, 247);
}
.light {
  background-color: #868383;
  color: white;
}
.dark {
  background-color: rgb(231, 222, 222);
  color: #333;
}
.dark-mode .btn {
}

@media (max-width: 724px) and (min-width: 500px) {
  p {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 1.8rem;
  }
  .feels p,
  .humidity p,
  .wind p {
    font-size: 1rem;
  }

  .temp_d img {
    right: 0;
  }

  .search input[type="text"] {
    width: 100%;
    max-width: 300px;
  }
}
